#button {
	width: auto;
	padding: 10px 10px 10px 10px;
	height: auto;
}

.header-container {
	margin-bottom: 40px;
}

.fixed-header {
	background-color: rgb(44, 134, 181);
	box-sizing: border-box;
	color: white;
	display: table; font-size : 20px;
	font-weight: bold;
	height: 65px;
	line-height: 20px;
	padding-bottom: 10px;
/* 	padding-left: 40px; */
/* 	padding-right: 40px; */
/* 	padding-top: 10px; */
	position: absolute;
	text-align: justify;
	top: 0px;
	width: 100%;
	z-index: 9999999;
	font-size: 20px;
}

.bookmark-title {
	font-size: 30px;
	fond-weight: bold;
	line-height: 25px;
}

.header-user-container a {
	float: right;
	padding: 0px 5px 0px 5px;
}

.header-welcome-container span {
	padding: 0px 5px 0px 5px;
}

.header-welcome-container {
	float: right;
}

.welcome-name {
	padding-left: 0px !important;
}

.welcome-message {
	padding-right: 0px !important;
}

.header-user-container {
	width: auto;
	float: right;
	padding-right: 10px;
	padding-left: 10px;
}

.head-container {
	width: auto;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#body-content-container {
	margin: 85px 10px 10px 10px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
}

/* Overwrite bootstrap */
.container {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.add-bookmark-container input {
	border: 5px solid white;
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px
		rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px
		rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px
		rgba(0, 0, 0, 0.1);
	padding: 5px 5px 0px 5px;
	background: rgba(255, 255, 255, 0.5);
/* 	margin: 0 0 10px 0; */
	color: white;
	width:100%;
}

.add-bookmark-header-submit {
	display: inline-block;
	background-color: green;
	color: white;
	padding: 5px;
	margin-left: 10px;
}

.header-text{
	color: white;
/* 	line-height: 45px; */
}

.header-text-input{
	color: white;
}

.header-upper-border{
	height:10px;
	background-color: green;
	width:100%;
	margin-bottom:10px;
}